/* this is a css */

body {
  margin: auto;
}

a {
  text-decoration: none;
  color: blue;
}

p {
  color: red;
}

h1 {
  color: green;
  font-size: 1.5em;
}

h2 {
  color: blue;
  font-size: 1.2em;
}

h3 {
  color: purple;
}

h4 {
  color: yellow;
  line-height: 2.0;
  margin: 10px;
}
