/* this is a css */

body {
  margin: auto;
}

a {
  font-style: italic;
  text-decoration: none;
  color: blue;
  font-size: 3.0em;
}

ul {
  list-style: circle;
  /* detta är kommentar 1 som inte är stage*/
  /* när syns detta på tidslinje*/
  /* kanske är det bästa att låta elever arbeta med commit BARA i githubdesktop*/
}

ol {
  color: red;
}

p {
  color: red;
}

h1 {
  color: green;
  font-size: 1.5em;
}

h2 {
  color: blue;
  font-size: 1.2em;
}

h3 {
  color: purple;
}

h4 {
  color: yellow;
  line-height: 2.0;
  margin: 10px;
}
